<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="artyom" value="https://nuget.artyom.hu/v3/index.json" protocolVersion="3" />
    <!--
    <add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="dotnetfeed" value="https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json" />
    <add key="aspnetcorefeed" value="https://dotnetfeed.blob.core.windows.net/aspnet-aspnetcore/index.json" />
    <add key="aspnetcoreext" value="https://dotnetfeed.blob.core.windows.net/aspnet-extensions/index.json" />
    -->
  </packageSources>
</configuration>
